<section class="about main-content-wrap">
	<div class="profile">
		<h2 class="main-title">Profile</h2>
		<h3 class="main-sub-title">
			<span>「トーチデザイン」という屋号で</span>
			<span>都内を拠点にWebサイト制作や</span>
			Webサービス開発のお手伝いをしています
		</h3>
		<p>2018年に長年暮らした北海道から首都圏に引っ越してきました。<br>
			北海道で約4年、小規模なWeb制作会社にてWebデザイナー・UIデザイナーとして働き、今は都内でフロントエンドエンジニアとして働いています。</p>
		<p>チーム内であれこれ話し合いながら作りあげていく開発工程がとても好きです。<br>作業を行う上で人とのつながりを大事にしており、お互いに気持ちよくやりとりが出来るよう心がけています。</p>
	</div>
	<div class="timeline">
		<h2 class="main-title">経歴・業務経験
			<p>詳しい業務内容は
				<a href="https://portfolio.forkwell.com/@torchiba" target="_blank">Forkwell Portfolio</a>
				をご確認ください
			</p>
		</h2>
		<div class=" timeline">
			<ul>
				<li class="timeline-content">
					<div class="title">
						<i class="fas fa-map-marker"></i>
						<p class="date">2018.8 - 現在</p>
						<h3 class="place">
							<strong>都内のゲーム運営会社</strong>
						</h3>
					</div>
					<ul class="outline">
						<li>コーポレートサイト及び、企業関連サイトのWebサイト開発</li>
						<li>新規サービスのWebサイト開発</li>
					</ul>
					<div class="skillSet">
						<ul class="skill">
							<li>HTML5</li>
							<li>Pug</li>
							<li>CSS3</li>
							<li>SCSS</li>
							<li>JavaScript</li>
							<li>Vue.js</li>
						</ul>
						<ul class="tool">
							<li>Git</li>
							<li>Github</li>
							<li>Gulp</li>
							<li>Terminal</li>
							<li>Zsh</li>
							<li>VSCode</li>
							<li>Slack</li>
							<li>Google Apps</li>
							<li>Photoshop</li>
							<li>Illustrator</li>
							<li>Sketch</li>
						</ul>
					</div>
				</li>
				<li class="timeline-content">
					<div class="title">
						<i class="fas fa-map-marker"></i>
						<p class="date">2018.7 - 現在</p>
						<h3 class="place">
							<strong>「トーチデザイン」として活動開始</strong>
						</h3>
					</div>
					<ul class="outline">
						<li>個人開発を行う</li>
					</ul>
					<div class="skillSet">
						<ul class="skill">
							<li>HTML5</li>
							<li>Pug</li>
							<li>CSS3</li>
							<li>SCSS</li>
							<li>JavaScript</li>
							<li>Vue.js</li>
							<li>VuePress</li>
							<li>WordPress</li>
						</ul>
						<ul class="tool">
							<li>Git</li>
							<li>Github</li>
							<li>Netlify</li>
							<li>Gulp</li>
							<li>Terminal</li>
							<li>Zsh</li>
							<li>VSCode</li>
							<li>Slack</li>
							<li>Google Apps</li>
							<li>Photoshop</li>
							<li>Illustrator</li>
						</ul>
					</div>
				</li>
				<li class="timeline-content">
					<div class="title">
						<i class="fas fa-map-marker"></i>
						<p class="date">2014.4 - 2018.3（転籍含む）</p>
						<h3 class="place">
							<strong>札幌のWeb制作会社</strong>
						</h3>

					</div>
					<ul class="outline">
						<li>Webサイト（コーポレートサイト、地方ラジオ局サイト、ECサイト、ランディングページなど）デザイン・コーディング・ディレクション・運用保守</li>
						<li>自社独自開発CMSのUIデザイン・カスタマイズ</li>
						<li>印刷物デザイン</li>
					</ul>
					<div class="skillSet">
						<ul class="skill">
							<li>HTML5</li>
							<li>CSS3</li>
							<li>SCSS</li>
							<li>jQuery</li>
							<li>WordPress</li>
						</ul>
						<ul class="tool">
							<li>BitBucket</li>
							<li>SourceTree</li>
							<li>Sublime Text</li>
							<li>Atom</li>
							<li>Skype</li>
							<li>Google Apps</li>
							<li>Photoshop</li>
							<li>Illustrator</li>
						</ul>
					</div>
				</li>
			</ul>
		</div>
	</div>
</section>

<section class="postShorten-group main-content-wrap" style="display: none!important;">
	<h2 class="main-title">Blog</h2>
	<% page.posts.each(function(post) { %>
	<%
        var tableOfContents = null;
        var thumbnailImageUrl = post.thumbnailImageUrl;
        var postContent = post.content;
        // Define default position for the thumbnail image
        var thumbnailImagePosition = theme.thumbnail_image_position;
        /* Define thumbnail image */

        // Define position of the thumbnail image
        if (!post.excerpt && !post.link) {
            thumbnailImagePosition = "bottom";
        } else if (thumbnailImageUrl !== null) {
            if (post.thumbnailImagePosition && post.thumbnailImagePosition.length)  {
                thumbnailImagePosition = post.thumbnailImagePosition;
            }
        }

        // Generate and insert table of contents in post content
        if (!post.excerpt && (/<!--(\s*)[t|T][o|O][c|C](\s*)-->/).test(postContent)) {
            if (__('post.toc_title')) {
                tableOfContents = '<h1 id=\"table-of-contents\">' + __('post.toc') + '</h1>';
            } else {
                tableOfContents = '<span id="table-of-contents"></span>';
            }
            tableOfContents += toc(postContent, {list_number: false})
            postContent = postContent.replace(/<!--(\s*)[t|T][o|O][c|C](\s*)-->/, tableOfContents)
        }
    %>
	<article class="postShorten postShorten--thumbnailimg-<%= thumbnailImagePosition %>">
		<div class="postShorten-wrap">
			<% if (thumbnailImageUrl !== null && thumbnailImagePosition === "top") { %>
			<a href="<%- url_for(post.path) %>">
				<div class="postShorten-thumbnailimg">
					<img alt="" src="<%= thumbnailImageUrl %>" />
				</div>
			</a>
			<% thumbnailImageUrl = null; %>
			<% } %>
			<div class="postShorten-header">
				<h1 class="postShorten-title">
					<% if (post.link) { %>
					<a class="link-unstyled" href="<%- url_for(post.link) %>">
						<%= post.title || '(' + __('post.no_title') + ')' %>
					</a>
					<% } else { %>
					<a class="link-unstyled" href="<%- url_for(post.path) %>">
						<%= post.title || '(' + __('post.no_title') + ')' %>
					</a>
					<% } %>
				</h1>
				<%- partial('post/meta', {post: post, classes: ['postShorten-meta']}) %>
			</div>
			<% if (post.excerpt || post.link) { %>
			<div class="postShorten-excerpt">
				<%- post.excerpt %>
				<% if (post.link && _('post.go_to_website')) { %>
				<a href="<%- url_for(post.link) %>" target="new" class="postShorten-excerpt_link link">
					<%= __('post.go_to_website') %>
				</a>
				<% } else if (__('post.read_more')) { %>
				<a href="<%- url_for(post.path) %>" class="postShorten-excerpt_link link">
					<%- __('post.read_more') %>
				</a>
				<% if (post.readingtime) { %>
				<span class="postShorten-readingtime">
					<%= ' - ' + post.readingtime + ' min read' %>
				</span>
				<% } %>
				<% } %>
			</div>
			<% } else { %>
			<div class="postShorten-content">
				<%- postContent %>
				<% if (theme.image_gallery) { %>
				<%- partial('post/gallery', {photos: post.photos, post: post})%>
				<% } %>
				<% if (__('post.comment_and_share')) { %>
				<p>
					<a href="<%- url_for(post.path + '#post-footer') %>" class="postShorten-excerpt_link link">
						<%- __('post.comment_and_share') %>
					</a>
				</p>
				<% } %>
			</div>
			<% } %>
		</div>
		<% if (thumbnailImageUrl !== null && thumbnailImagePosition !== "top") { %>
		<a href="<%- url_for(post.path) %>">
			<div class="postShorten-thumbnailimg">
				<img alt="" src="<%= thumbnailImageUrl %>" />
			</div>
		</a>
		<% thumbnailImageUrl = null; %>
		<% } %>
	</article>
	<% }) %>
	<%- partial('pagination', {type: 'page'}) %>
</section>